.Sidebar
  .LeftHeader
    .LeftHeader__list 
      .LeftHeader__username
        ken
      .LeftHeader__iconList
        .LeftHeader__icon
          =link_to "#" do
            = icon('far','edit')
        .LeftHeader__icon
          =link_to "#" do
            = icon('fas','cog')
  .Grouplist
    .Group
      .Group__name
        techcamp
      .Group__message
        まだメッセージがありません。